.container {
  height: calc(100vh - 60px);
  width: 200px;
  position: sticky;
  top: 60px;
  padding: 16px 16px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #fafafa;

  @media (max-width: 768px) {
    top: unset;
    width: 100%;
    height: unset;
    flex-direction: row;
    padding: 0;
    justify-content: center;

    div {
      display: flex;
    }
  }

  .item {
    padding: 12px 16px;
    max-width: 150px;
    width: 100%;

    margin: 8px 0;

    display: flex;
    align-items: center;

    color: black;
    border-radius: 50px;
    outline: none;
    cursor: pointer;

    transition: all .1s linear;

    @media (max-width: 768px) {
      font-size: 0;
      padding: 12px;
      margin: 8px;
    }

    &.active {
      color: white;
      background-color: rgba(purple, 0.7);
    }

    @media (min-width: 768px) {
      &:hover {
        color: white;
        background-color: darken(rgba(purple, 0.7), 10%);
      }
    }

    mat-icon {
      margin-right: 8px;

      @media (max-width: 768px) {
        margin-right: 0;
      }
    }
  }
}
