<div class="container">
  <div class="main">
    <div class="item" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>home</mat-icon>
      Dashboard
    </div>
    <div class="item" routerLinkActive="active" routerLink="/rate">
      <mat-icon>bar_chart</mat-icon>
      Rate
    </div>
    <div class="item" routerLinkActive="active" routerLink="/balance">
      <mat-icon>attach_money</mat-icon>
      Balance
    </div>
    <div class="item" routerLinkActive="active" routerLink="/transactions">
      <mat-icon>history</mat-icon>
      Transactions
    </div>
  </div>
  <div class="item" routerLinkActive="active" routerLink="/settings">
    <mat-icon>settings</mat-icon>
    Settings
  </div>
</div>
