<div class="container">
  <h1>Choose a bank your want to add</h1>

  <div class="wrapper">
    <mat-card class="card" routerLink="mono">
      <img src="https://maanimo.com/uploads/contents/33bfb5f39a1dc7f4a9107c722ff0e6a2.400x400.jpg" alt="monobank logo">
      <div class="bank-name">Monobank</div>
    </mat-card>
    <mat-card class="card">
      <img src="https://privatbank.ua/uploads/media/default/0001/07/0c3e8c9aee06ce531c562c93090e0bd11291a6c7.png" alt="privatbank logo">
      <div class="bank-name">Privat bank</div>
    </mat-card>
  </div>
</div>
