.container {
  display: grid;
  grid-template-areas: "header header" "sidenav content";
  grid-template-columns: 200px auto;

  @media (max-width: 768px) {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
  }

  app-header {
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  app-navigation {
    grid-area: sidenav;

    @media (max-width: 768px) {
      position: sticky;
      bottom: 0;
      z-index: 2;
      margin-top: auto;
    }
  }

  .router-wrapper {
    grid-area: content;
  }
}

.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
