.container {
  height: calc(100vh - 80px);
  margin-top: 60px;
  display: flex;

  app-navigation {
    width: 200px;
  }

  .router-wrapper {
    width: calc(100vw - 188px);
    padding: 12px;
  }
}
