.container {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "chart rate"
                  "chart1 chart1";
  grid-gap: 40px 16px;

  app-transactions-preview {
    grid-area: rate;
  }

  .c1 {
    width: 100%;
    grid-area: chart;
  }

  .wrapper {
    padding: 12px 0;
    display: flex;
    grid-area: chart1;
  }

  .c2, .c3 {
    width: 50%;
  }
}
