.container {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "chart rate"
                  "chart1 chart1";
  grid-gap: 40px 16px;

  @media (max-width: 576px) {
    grid-template-areas: "rate"
                  "chart"
                  "chart1";
    grid-template-columns: none;
  }

  app-transactions-preview {
    grid-area: rate;
  }

  .c1 {
    width: 100%;
    grid-area: chart;
  }

  .wrapper {
    padding: 12px 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    grid-column-gap: 30px;
    grid-area: chart1;
    align-items: center;

    @media (max-width: 1300px) {
      grid-template-columns: 1fr;
    }
  }
}
