<div class="container">
  <h1 class="title">Add your MonoBank card</h1>
  <p class="description">Get your mono token <a href="https://api.monobank.ua" target="_blank">here</a> and fill form below</p>
  <mat-form-field appearance="outline">
    <mat-label>Token</mat-label>
    <input
      matInput
      placeholder="Token"
      type="text"
      [(ngModel)]="monoToken"
    >
  </mat-form-field>

  <button
    mat-flat-button
    [disabled]="disableButton"
    color="primary"
    (click)="addToken()"
  >
    Save token
  </button>
</div>
