<ng-container *ngIf="transactions?.length && !liteVersion">
  <table mat-table [dataSource]="transactions" matSort class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="bank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Bank</th>
      <td mat-cell *matCellDef="let element">
        <img src="assets/{{isMono(element.type) ? 'favicon-mono.ico' : 'favicon-pb.png'}}" alt="bank icon">
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
      <td mat-cell *matCellDef="let element"> {{element.mcc}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let element"> {{element.time | date:'short'}} </td>
    </ng-container>

    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Balance</th>
      <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</ng-container>

<ng-container *ngIf="transactions?.length && liteVersion">
  <div class="lite-container">
    <div class="item" *ngFor="let op of transactions | slice:0:5">
      <img src="assets/{{isMono(op.type) ? 'favicon-mono.ico' : 'favicon-pb.png'}}" alt="bank icon">
      <span class="operation name" [matTooltip]="op.description">{{op.description}}</span>
      <span class="operation sum">{{op.amount}}</span>
    </div>
    <div class="item show-more" routerLink="/transactions">Show more</div>
  </div>
</ng-container>
