<ng-container *ngIf="transactions?.length && !liteVersion">
  <ng-container class="date" *ngFor="let k of getKeys()">
    <div class="date">{{k}}</div>
    <div class="container">
      <div class="row mat-elevation-z5" *ngFor="let transaction of groupTransactions()[k]">
        <div class="icon">
          <img src="assets/{{isMono(transaction.type) ? 'favicon-mono.ico' : 'favicon-pb.png'}}" alt="bank icon">
        </div>
        <div class="operation">
          <div class="operation-description">
            {{transaction.description}}
          </div>
          <div class="operation-category">
            {{transaction.mcc}}
          </div>
        </div>
        <div class="numbers">
          <div class="amount" [ngClass]="{'expenses': transaction.amount < 0, 'incomes': transaction.amount > 0}">
            {{transaction.amount > 0 ? '+' : ''}}{{transaction.amount}}
          </div>
          <div class="balance">{{transaction.balance}}</div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-container *ngIf="transactions?.length && liteVersion">
  <div class="lite-container">
    <div class="item" *ngFor="let op of transactions | slice:0:5">
      <img src="assets/{{isMono(op.type) ? 'favicon-mono.ico' : 'favicon-pb.png'}}" alt="bank icon">
      <span class="operation name" [matTooltip]="op.description">{{op.description}}</span>
      <span class="operation sum">{{op.amount}}</span>
    </div>
    <div class="item show-more" routerLink="/transactions">Show more</div>
  </div>
</ng-container>
