.date {
  text-align: center;
}

.container {
  padding: 0 24px;

  .row {
    margin: 12px;
    border-radius: 5px;
    padding: 8px;

    display: flex;
    align-items: center;

    .icon {
      min-width: 48px;
      min-height: 48px;
      border-radius: 50%;
      background-color: #f0f0f0;
      position: relative;
      margin-right: 8px;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .operation {
      .operation-description {
        max-width: 700px;
      }

      .operation-category {
        font-weight: 300;
        font-size: 12px;
      }
    }

    .numbers {
      margin-left: auto;
      margin-right: 12px;
      text-align: right;

      .amount {
        &.expenses {
          color: #ff0202;
        }

        &.incomes {
          color: #008a00;
        }
      }

      .balance {
        font-weight: 300;
        font-size: 12px;
      }
    }
  }
}

.lite-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .item {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin: 8px;
    align-items: center;
    justify-content: space-between;

    border: 1px solid #5a5a5a;
    border-radius: 15px;
    padding: 8px 16px;

    &.show-more {
      display: flex;
      justify-content: center;
      cursor: pointer;

      transition: all .1s linear;

      &:hover {
        background-color: #5a5a5a;
        color: #ffffff;
      }
    }

    img {
      padding: 0 8px;
    }

    .operation {
      padding: 0 8px;
      max-width: 200px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
