.flex {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;

  .flex-item {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    &.pickers {
      flex-direction: column;
      width: 90%;
      margin: 0 auto;
    }
  }
}
